<div class="row">
  <div class="small-6 columns">
      <% if @card.imgGold == nil %>
        <img src='http://wow.zamimg.com/images/hearthstone/backs/animated/Card_Back_Default.gif' >
      <% else %>
        <img src=<%= @card.imgGold%> >
      <% end %>
      <% if @card.img == nil %>
        <img src='http://wow.zamimg.com/images/hearthstone/backs/animated/Card_Back_Default.gif' >
      <% else %>
        <img src=<%= @card.img%> >
      <% end %>
  </div>
  <div class="small-6 columns" id="card-show-info">
    <% if @card.imgGold == nil %>
      <p> Text: <%= @card.text %> </p>
    <% end %>
    <p>Type: <%= @card.cardType %></p>
    <p>Faction: <%= @card.faction %></p>
    <p>Rarity: <%= @card.rarity %></p>
    <p>Cost: <%= @card.cost %></p>
    <p>Artist: <%= @card.artist %></p>
    <p>Collectible: <%= @card.collectible %></p>
    <p>Class: <%= @card.playerClass %></p>
  </div>
</div>
