<div class="row">
  <div class="small-6 small-offset-3 columns">
    <br>
    <br>
    <h3>
      <%= link_to "New Deck", new_deck_path, class: "button expanded" %>
    </h3>
    <ul class="deck-index-ul">
      <% @decks.each do |deck| %>
        <li class=deck-index-li>
          <%= image_tag "Cards.png", size: "75x75" %><%= link_to deck.name, deck_path(deck)%>
        </li>
        <li class="deck-index-li">
          <% if deck.cards.length == 1 %>
            <img class="avatar" src=<%= deck.cards[0].imgGold %> alt="Not Found" onerror=this.src="http://wow.zamimg.com/images/hearthstone/cardbacks/original/Card_Back_GoldenCelebration.png" height="120" width="84">
          <% elsif deck.cards.length == 2 %>
            <img class="avatar" src=<%= deck.cards[0].imgGold %> alt="Not Found" onerror=this.src="http://wow.zamimg.com/images/hearthstone/cardbacks/original/Card_Back_GoldenCelebration.png" height="120" width="84">
            <img class="avatar" src=<%= deck.cards[1].imgGold %> alt="Not Found" onerror=this.src="http://wow.zamimg.com/images/hearthstone/cardbacks/original/Card_Back_GoldenCelebration.png" height="120" width="84">
            <img class="avatar" src=<%= deck.cards[2].imgGold %> alt="Not Found" onerror=this.src="http://wow.zamimg.com/images/hearthstone/cardbacks/original/Card_Back_GoldenCelebration.png" height="120" width="84">
          <% elsif deck.cards.length >= 3 %>
            <img class="avatar" src=<%= deck.cards[0].imgGold %> alt="Not Found" onerror=this.src="http://wow.zamimg.com/images/hearthstone/cardbacks/original/Card_Back_GoldenCelebration.png" height="120" width="84">
            <img class="avatar" src=<%= deck.cards[1].imgGold %> alt="Not Found" onerror=this.src="http://wow.zamimg.com/images/hearthstone/cardbacks/original/Card_Back_GoldenCelebration.png" height="120" width="84">
            <img class="avatar" src=<%= deck.cards[2].imgGold %> alt="Not Found" onerror=this.src="http://wow.zamimg.com/images/hearthstone/cardbacks/original/Card_Back_GoldenCelebration.png" height="120" width="84">
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
